name: Build NestingApp

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.7.0'
          arch: 'win64_msvc2019_64'
          cache: true
          
      - name: Configure CMake
        run: cmake -B build -G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=Release
        
      - name: Build
        run: cmake --build build --config Release --parallel
        
      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: NestingApp
          path: build/Release/NestingApp.exe
