name: Build NestingApp

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.7.0'
          arch: 'win64_msvc2022_64'
          
      - name: Configure
        run: cmake -B build -G "Visual Studio 17 2022" -A x64
        
      - name: Build
        run: cmake --build build --config Release
        
      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: NestingApp
          path: build/Release/NestingApp.exe
          
